@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}


.indexPageList {
  display:flex;
  justify-content: center;
  color:green;
  

  
  }
  

  #restaurantName{
   border :5px outset green;


  }